[Unit]
Description=Deluge BitTorrent Daemon

[Service]
ExecStart=/usr/bin/deluged -d -c /var/lib/deluged/config -l /var/log/deluged/deluged.log -L info
User=debian-deluged
Restart=on-failure

[Install]
WantedBy=multi-user.target